<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338147366713-be70och1l00c7ho2nv66kca7879i90q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338147366713-be70och1l00c7ho2nv66kca7879i90q4</string>
	<key>API_KEY</key>
	<string>AIzaSyCTFCRU4swOfriCx2zZvRZYSFWBaUCAfJw</string>
	<key>GCM_SENDER_ID</key>
	<string>338147366713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dairyHarbor</string>
	<key>PROJECT_ID</key>
	<string>scupay-aa2ee</string>
	<key>STORAGE_BUCKET</key>
	<string>scupay-aa2ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338147366713:ios:10b5e7f0f81ac77e2bbae8</string>
	<key>DATABASE_URL</key>
	<string>https://scupay-aa2ee-default-rtdb.firebaseio.com</string>
</dict>
</plist>